<%= form_with(model: sinsi, local: true) do |form| %>
  <% if sinsi.errors.any? %>
    <div id="error_explanation">
      <div class="alert-danger">
        <ul class="validate">
          <% sinsi.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "タイトル (省略可)" %><br />
    <%= form.text_field :title, value: @sinsi.title, :placeholder => "無題" %><br />
  </div>

  <div class="field">
    <%= form.label "ひとこと (省略可)" %><br />
    <%= form.text_field :word, value: @sinsi.word, :placeholder => "無言" %><br />
  </div>

  <div class="field">
    <%= form.label "投稿する画像の選択" %><br />
    <%= form.file_field :picture %><br /><br />
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit data: { confirm: '確定します。よろしいですか？' } %>
  </div>
<% end %>
