<% if @sinsi.title.blank? %>
  <% provide(:title, "無題") %>
<% else %>
  <% provide(:title, "#{@sinsi.title}") %>
<% end %>


<% if @sinsi.title.blank? %>
  <h2>無題
<% else %>
  <h2><%= @sinsi.title %>
<% end %>

<% if @sinsi.user_id == current_user.id %>
  <span style="font-size: 13px"><%= link_to '編集する', edit_sinsi_path(@sinsi) %><br />
<% end %></h2><br />

<p><b>投稿者: </b><%= "#{ user_name }" %> さん</p>
<p><b>閲覧者数: </b><%= @preview.impressionist_count %> 回</p>
<p><b>最終更新日: </b><%= @sinsi.updated_at.to_s.chop.chop.chop.chop.chop.chop.chop.chop.chop %></p>

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@sinsi.picture_url, width: '100%') if @sinsi.picture.present? %>
    <% if @sinsi.word.blank? %>
      <h4><b>「 </b>無言<b> 」</b></h4>
    <% else %>
      <h4><b>「 </b><%= @sinsi.word %><b> 」</b></h4>
    <% end %>


    <h5>コメント一覧</h5>
    <% @comments.each do |comment| %>
      <div>
        <strong><%= comment.user_name %></strong>
        <br />
        <p><%= comment.body %></p>
        <p><%= link_to '削除する', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></p>
      </div>
    <% end %>
    <%= render 'comments/form', comment: @comment %>


    <br />
    <div class="col-md-3">
      <p>
        <%= link_to '戻る', sinsis_path %>
      </p>
    </div>
  </div>
</div>
