<% if @sinsi.title.blank? %>
  <% provide(:title, "無題") %>
<% else %>
  <% provide(:title, "#{@sinsi.title}") %>
<% end %>

<% if @sinsi.title.blank? %>
  <h2>無題
<% else %>
  <h2><%= @sinsi.title %>
<% end %>

<% if user_signed_in? %>
  <% if @sinsi.user_id == current_user.id %>
    <span style="font-size: 13px"><%= link_to '編集する', edit_sinsi_path(@sinsi) %><br />
  <% end %>
<% end %></h2><br />

<%
=begin%>
 <%= render 'like', sinsi: @sinsi_id %>
<%
=end%>
<p><b>投稿ユーザー名: </b><%= "#{user_name}" %> さん</p>
<p><b>閲覧ユーザー数: </b><%= @preview.impressionist_count %> 人</p>
<p><b>最終更新日: </b><%= @sinsi.updated_at.to_s.chop.chop.chop.chop.chop.chop.chop.chop.chop %></p>

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@sinsi.picture_url, width: '100%') if @sinsi.picture.present? %>
    <% if @sinsi.word.blank? %>
      <h3><b>「 </b>無言<b> 」</b></h3>
    <% else %>
      <h3><b>「 </b><%= @sinsi.word %><b> 」</b></h3>
    <% end %><br />

    <h4>コメント一覧</h4>
    <%= '<div id="bbs"><h4>最初のコメントを投稿しませんか？</h4></div>'.html_safe if @comments.empty? %>
    <br />
    <% i = 0 %>
    <% @comments.each do |comment| %>
      <div id="bbs">
        <p><%= "#{i+=1} " %>
        <span style="color: green;"><%= comment.user.name %>さん</span><%= " (投稿者)" if comment.user.name == user_name %><%= " #{comment.created_at.to_s.chop.chop.chop.chop.chop}" %></p>
        <p><%= comment.body %></p>
        <% if user_signed_in? %>
          <% if comment.user.name == current_user.name %>
            <%= link_to "削除する", comment_path(comment.id), method: :delete, data: { confirm: "削除しますか？"} %>
          <% end %>
        <% end %>
        </div>
      <% end %>
    <br />

    <%= form_for(@comment, local: true) do |form| %>
      <div class="field">
        <%= form.text_area :body, size: "50x3", placeholder: 'コメント内容(50文字以内)', maxlength: '50' %>
      </div><br />

      <%= form.hidden_field :sinsi_id, value: @sinsi.id %>
      <%= form.hidden_field :user_id, value: current_user.id if user_signed_in? %>

      <%= form.submit 'コメントする', data: { confirm: '確定します。よろしいですか？' } %>
    <% end %>

    <br />
    <p><%= link_to '戻る', sinsis_path %></p>
  </div>
</div>
